.nav-bar {
  display: flex;
  width: 100%;
  height: 40px;
}
.link-tags {
  color: white;
  flex: 1;
}
.link-tags:hover {
  color: white;
  text-decoration: none;
}
.link-div {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 88, 214);
}
.active {
  background-color: rgba(15, 88, 214, 0.3) !important;
}
